<section class="home" owl-carousel>
    <view-init></view-init>

    <div class="site-showcase">
        <div class="slider-mask overlay-transparent"></div>
        <!-- Start Hero Slider -->
        <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                <li class=" parallax" style="background-image:url(assets/images/cyprus1.jpg);">
                    <div class="flex-caption">
                        <strong class="title">1671 Grand Avenue, <em>NYC</em></strong>
                        <div class="price"><strong>$</strong><span>100000</span></div>
                        <a href="property-detail.html" class="btn btn-primary btn-block">Details</a>
                        <div class="hero-agent">
                            <img src="assets/images/cyprus1.jpg" alt="" class="hero-agent-pic">
                            <!--<a href="agent-detail.html" class="hero-agent-contact" data-placement="left"  data-toggle="tooltip" title="" data-original-title="Contact Agent"><i class="fa fa-envelope"></i></a>-->
                        </div>
                    </div>
                </li>
                <li class="parallax" style="background-image:url(assets/images/cyprus2.jpg);">
                    <div class="flex-caption">
                        <strong class="title">1671 Grand Avenue, <em>NYC</em></strong>
                        <div class="price"><strong>$</strong><span>100000</span></div> <a href="property-detail.html" class="btn btn-primary btn-block">Details</a>
                        <div class="hero-agent">
                            <img src="assets/images/cyprus2.jpg" alt="" class="hero-agent-pic">
                            <!--<a href="agent-detail.html" class="hero-agent-contact" data-placement="left"  data-toggle="tooltip" title="" data-original-title="Contact Agent"><i class="fa fa-envelope"></i></a>-->
                        </div>
                    </div>
                </li>
                <li class="parallax" style="background-image:url(assets/images/cyprus3.jpg);">
                    <div class="flex-caption">
                        <strong class="title">1671 Grand Avenue, <em>NYC</em></strong>
                        <div class="price"><strong>$</strong><span>100000</span></div> <a href="property-detail.html" class="btn btn-primary btn-block">Details</a>
                        <div class="hero-agent">
                            <img src="assets/images/cyprus3.jpg" alt="" class="hero-agent-pic">
                            <!--<a href="agent-detail.html" class="hero-agent-contact" data-placement="left"  data-toggle="tooltip" title="" data-original-title="Contact Agent"><i class="fa fa-envelope"></i></a>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End Hero Slider -->
        <!-- Site Search Module -->
        <div class="site-search-module">
            <div class="container">
                <div class="site-search-module-inside">
                    <form action="#">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <select name="propery type" class="form-control input-lg selectpicker">
                                        <option selected>Type</option>
                                        <option>Villa</option>
                                        <option>Family House</option>
                                        <option>Single Home</option>
                                        <option>Cottage</option>
                                        <option>Apartment</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select name="propery contract type" class="form-control input-lg selectpicker">
                                        <option selected>Contract</option>
                                        <option>Rent</option>
                                        <option>Buy</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select name="propery location" class="form-control input-lg selectpicker">
                                        <option selected>Location</option>
                                        <option>New York</option>
                                    </select>
                                </div>
                                <div class="col-md-2"> <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-search"></i> Search</button> </div>
                                <div class="col-md-2"> <a href="#" id="ads-trigger" class="btn btn-default btn-block"><i class="fa fa-plus"></i> <span>Advanced</span></a> </div>
                            </div>
                            <div class="row hidden-xs hidden-sm">
                                <div class="col-md-2">
                                    <label>Min Beds</label>
                                    <select name="beds" class="form-control input-lg selectpicker">
                                        <option>Any</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Min Baths</label>
                                    <select name="beds" class="form-control input-lg selectpicker">
                                        <option>Any</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Min Price</label>
                                    <select name="beds" class="form-control input-lg selectpicker">
                                        <option>Any</option>
                                        <option>$1000</option>
                                        <option>$5000</option>
                                        <option>$10000</option>
                                        <option>$50000</option>
                                        <option>$100000</option>
                                        <option>$500000</option>
                                        <option>$1000000</option>
                                        <option>$3000000</option>
                                        <option>$5000000</option>
                                        <option>$10000000</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Max Price</label>
                                    <select name="beds" class="form-control input-lg selectpicker">
                                        <option>Any</option>
                                        <option>$1000</option>
                                        <option>$5000</option>
                                        <option>$10000</option>
                                        <option>$50000</option>
                                        <option>$100000</option>
                                        <option>$500000</option>
                                        <option>$1000000</option>
                                        <option>$3000000</option>
                                        <option>$5000000</option>
                                        <option>$10000000</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Min Area (Sq Ft)</label>
                                    <input type="text" class="form-control input-lg" placeholder="Any">
                                </div>
                                <div class="col-md-2">
                                    <label>Max Area (Sq Ft)</label>
                                    <input type="text" class="form-control input-lg" placeholder="Any">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="main">
        <div id="content" class="content full">
        <div class="featured-blocks">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 featured-block"> <img src="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" alt="Search Anywhere" class="img-thumbnail">
                        <h3>Search From Anywhere</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 featured-block"> <img src="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" alt="Friendly Agents" class="img-thumbnail">
                        <h3>Friendly Agents</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 featured-block"> <img src="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" alt="Search Anywhere" class="img-thumbnail">
                        <h3>Buy or Rent</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-40"></div>
        <div class="container">
            <div class="row">
                <div class="property-columns" id="latest-properties">
                    <div class="col-md-12">
                        <div class="block-heading">
                            <h4><span class="heading-icon"><i class="fa fa-leaf"></i></span>Recently Listed</h4>
                            <a href="simple-listing-fw.html" class="btn btn-primary btn-sm pull-right">View more properties <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li class="col-md-4 col-sm-6 type-rent">
                            <div class="property-block">
                                <a href="property-detail.html" class="property-featured-image">
                                    <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                    <span class="badges">Rent</span>
                                </a>
                                <div class="property-info">
                                    <h4><a href="property-detail.html">116 Waverly Place</a></h4>
                                    <span class="location">NYC</span>
                                    <div class="price"><strong>$</strong><span>2800 Monthly</span></div>
                                </div>
                                <div class="property-amenities clearfix">
                                    <span class="area"><strong>5000</strong>Area</span>
                                    <span class="baths"><strong>3</strong>Baths</span>
                                    <span class="beds"><strong>3</strong>Beds</span>
                                    <span class="parking"><strong>1</strong>Parking</span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6 type-buy">
                            <div class="property-block">
                                <a href="property-detail.html" class="property-featured-image">
                                    <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                    <span class="badges">Buy</span>
                                </a>
                                <div class="property-info">
                                    <h4><a href="property-detail.html">232 East 63rd Street</a></h4>
                                    <span class="location">NYC</span>
                                    <div class="price"><strong>$</strong><span>250000</span></div>
                                </div>
                                <div class="property-amenities clearfix">
                                    <span class="area"><strong>5000</strong>Area</span>
                                    <span class="baths"><strong>3</strong>Baths</span>
                                    <span class="beds"><strong>3</strong>Beds</span>
                                    <span class="parking"><strong>1</strong>Parking</span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6 type-rent">
                            <div class="property-block">
                                <a href="property-detail.html" class="property-featured-image">
                                    <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                    <span class="badges">Buy</span>
                                </a>
                                <div class="property-info">
                                    <h4><a href="property-detail.html">55 Warren Street</a></h4>
                                    <span class="location">NYC</span>
                                    <div class="price"><strong>$</strong><span>300000</span></div>
                                </div>
                                <div class="property-amenities clearfix">
                                    <span class="area"><strong>5000</strong>Area</span>
                                    <span class="baths"><strong>3</strong>Baths</span>
                                    <span class="beds"><strong>3</strong>Beds</span>
                                    <span class="parking"><strong>1</strong>Parking</span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6 type-rent">
                            <div class="property-block">
                                <a href="property-detail.html" class="property-featured-image">
                                    <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                    <span class="badges">Rent</span>
                                </a>
                                <div class="property-info">
                                    <h4><a href="property-detail.html">459 West Broadway</a></h4>
                                    <span class="location">NYC</span>
                                    <div class="price"><strong>$</strong><span>3100 Monthly</span></div>
                                </div>
                                <div class="property-amenities clearfix">
                                    <span class="area"><strong>5000</strong>Area</span>
                                    <span class="baths"><strong>3</strong>Baths</span>
                                    <span class="beds"><strong>3</strong>Beds</span>
                                    <span class="parking"><strong>1</strong>Parking</span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6 type-buy">
                            <div class="property-block">
                                <a href="property-detail.html" class="property-featured-image">
                                    <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                    <span class="badges">Buy</span>
                                </a>
                                <div class="property-info">
                                    <h4><a href="property-detail.html">70 Greene Street</a></h4>
                                    <span class="location">NYC</span>
                                    <div class="price"><strong>$</strong><span>500000</span></div>
                                </div>
                                <div class="property-amenities clearfix">
                                    <span class="area"><strong>5000</strong>Area</span>
                                    <span class="baths"><strong>3</strong>Baths</span>
                                    <span class="beds"><strong>3</strong>Beds</span>
                                    <span class="parking"><strong>1</strong>Parking</span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6 type-rent">
                            <div class="property-block">
                                <a href="property-detail.html" class="property-featured-image">
                                    <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                    <span class="badges">Rent</span>
                                </a>
                                <div class="property-info">
                                    <h4><a href="property-detail.html">115 Allen Street</a></h4>
                                    <span class="location">NYC</span>
                                    <div class="price"><strong>$</strong><span>5000 Monthly</span></div>
                                </div>
                                <div class="property-amenities clearfix">
                                    <span class="area"><strong>5000</strong>Area</span>
                                    <span class="baths"><strong>3</strong>Baths</span>
                                    <span class="beds"><strong>3</strong>Beds</span>
                                    <span class="parking"><strong>1</strong>Parking</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="featured-properties">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-heading">
                            <h4><span class="heading-icon"><i class="fa fa-star"></i></span>Featured Properties</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="owl-carousel owl-alt-controls" data-columns="4" data-autoplay="no" data-pagination="no" data-arrows="yes" data-single-item="no">
                        <li class="item property-block">
                            <a href="property-detail.html" class="property-featured-image">
                                <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                <span class="badges">Rent</span>
                            </a>
                            <div class="property-info">
                                <h4><a href="property-detail.html">116 Waverly Place</a></h4>
                                <span class="location">NYC</span>
                                <div class="price"><strong>$</strong><span>2800 Monthly</span></div>
                            </div>
                        </li>
                        <li class="item property-block">
                            <a href="property-detail.html" class="property-featured-image">
                                <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                <span class="badges">Buy</span>
                            </a>
                            <div class="property-info">
                                <h4><a href="property-detail.html">232 East 63rd Street</a></h4>
                                <span class="location">NYC</span>
                                <div class="price"><strong>$</strong><span>250000</span></div>
                            </div>
                        </li>
                        <li class="item property-block">
                            <a href="property-detail.html" class="property-featured-image">
                                <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                <span class="badges">Buy</span>
                            </a>
                            <div class="property-info">
                                <h4><a href="property-detail.html">55 Warren Street</a></h4>
                                <span class="location">NYC</span>
                                <div class="price"><strong>$</strong><span>300000</span></div>
                            </div>
                        </li>
                        <li class="item property-block">
                            <a href="property-detail.html" class="property-featured-image">
                                <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                <span class="badges">Rent</span>
                            </a>
                            <div class="property-info">
                                <h4><a href="property-detail.html">459 West Broadway</a></h4>
                                <span class="location">NYC</span>
                                <div class="price"><strong>$</strong><span>3100 Monthly</span></div>
                            </div>
                        </li>
                        <li class="item property-block">
                            <a href="property-detail.html" class="property-featured-image">
                                <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                <span class="badges">Buy</span>
                            </a>
                            <div class="property-info">
                                <h4><a href="property-detail.html">70 Greene Street</a></h4>
                                <span class="location">NYC</span>
                                <div class="price"><strong>$</strong><span>500000</span></div>
                            </div>
                        </li>
                        <li class="item property-block">
                            <a href="property-detail.html" class="property-featured-image">
                                <img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="">
                                <span class="images-count"><i class="fa fa-picture-o"></i> 2</span>
                                <span class="badges">Rent</span>
                            </a>
                            <div class="property-info">
                                <h4><a href="property-detail.html">115 Allen Street</a></h4>
                                <span class="location">NYC</span>
                                <div class="price"><strong>$</strong><span>5000 Monthly</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="padding-tb45 bottom-blocks">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 features-list column">
                        <h3>Theme features</h3>
                        <ul>
                            <li>
                                <div class="icon"><i class="fa fa-umbrella"></i></div>
                                <div class="text">
                                    <h4>Lots of possibilities</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-list"></i></div>
                                <div class="text">
                                    <h4>Property list view</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-search"></i></div>
                                <div class="text">
                                    <h4>Advance Search Options</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-users"></i></div>
                                <div class="text">
                                    <h4>Agents Profile</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 popular-agent column">
                        <h3>Popular Agent</h3>
                        <a href="agent-detail.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"></a>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h4><a href="agent-detail.html">Brooklyn Coyle</a></h4>
                                <a href="agent-detail.html" class="btn btn-sm btn-primary">more details</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <ul class="contact-info">
                                    <li><i class="fa fa-phone"></i> +87 6543 210</li>
                                    <li><i class="fa fa-envelope"></i> brook@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 latest-testimonials column">
                        <h3>Client Testimonials</h3>
                        <ul class="testimonials">
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                <img src="http://placehold.it/80x80&amp;text=IMAGE+PLACEHOLDER" alt="Happy Client" class="testimonial-sender">
                                <cite>Mellisa - <strong>My company</strong>
                                    <br><a href="#">www.companyurl.com</a>
                                </cite>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="block-heading">
                <h4><span class="heading-icon"><i class="fa fa-users"></i></span>Our Partners</h4>
                <a href="about.html" class="btn btn-primary btn-sm pull-right">All partners <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="row">
                <ul class="owl-carousel" id="clients-slider" data-columns="6" data-autoplay="yes" data-pagination="no" data-arrows="no" data-single-item="no" data-items-desktop="6" data-items-desktop-small="4" data-items-mobile="2" data-items-tablet="4">
                    <li class="item"> <a href="#"><img src="assets/images/partner-1.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-2.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-3.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-4.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-5.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-1.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-2.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-3.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-4.png" alt=""></a> </li>
                    <li class="item"> <a href="#"><img src="assets/images/partner-5.png" alt=""></a> </li>
                </ul>
            </div>
        </div>
    </div>
    </section>
</section>