<ul class="pagination">
    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>

    <li ng-repeat="index in vm.pageRange track by $index" ng-class="{ 'active': $index + 1 == vm.currentPage }">
        <a ng-click="vm.changePage($index + 1)">{{ ::$index + 1 }}</a>
    </li>
    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
</ul>