<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 footer-widget widget">
                <h3 class="widgettitle">Latest News</h3>
                <ul>
                    <li>
                        <a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        <span class="meta-data">1 March, 2014</span>
                    </li>
                    <li>
                        <a href="blog-post.html">Lorem ipsum dolor sit amet elit, consectetur adipiscing.</a>
                        <span class="meta-data">28 February, 2014</span>
                    </li>
                    <li>
                        <a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        <span class="meta-data">26 February, 2014</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-widget widget">
                <h3 class="widgettitle">Useful Links</h3>
                <ul>
                    <li><a href="submit.html">Add your listing</a></li>
                    <li><a href="login.html">Become an agent</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="shortcodes.html">Theme features</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-widget widget">
                <h3 class="widgettitle">Twitter Updates</h3>
                <ul class="twitter-widget"></ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-widget widget">
                <h3 class="widgettitle">Our Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                <form method="post" id="newsletterform" name="newsletterform" class="newsletter-form" action="mail/newsletter.php">
                    <input type="email" name="nl-email" id="nl-email" placeholder="Enter your email" class="form-control">
                    <input type="submit" name="nl-submit" id="nl-submit" class="btn btn-primary btn-block btn-lg" value="Subscribe">
                </form>
                <div class="clearfix"></div>
                <div id="nl-message"></div>
            </div>
        </div>
    </div>
</footer>
<footer class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="copyrights-col-left col-md-6 col-sm-6">
                <p>&copy; 2014 RealSpaces. All Rights Reserved</p>
            </div>
            <div class="copyrights-col-right col-md-6 col-sm-6">
                <div class="social-icons">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                    <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>