<header class="site-header">
    <div class="top-header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <ul class="horiz-nav pull-left">
                        <li class="dropdown"><a data-toggle="dropdown"><i class="fa fa-user"></i> Login <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="my-properties.html">My properties</a></li>
                                <li><a href="submit.html">Add a property</a></li>
                                <li><a href="edit-agent-profile.html">My Profile</a></li>
                            </ul>
                        </li>
                        <li><a href="login.html"><i class="fa fa-check-circle"></i> Register</a></li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-6">
                    <ul class="horiz-nav pull-right">
                        <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-xs-8">
                    <h1 class="logo"> <a href="/"><img src="assets/images/logo.jpg" alt="Logo"></a> </h1>
                </div>
                <div class="col-md-8 col-sm-4 col-xs-4">
                    <div class="contact-info-blocks hidden-sm hidden-xs">
                        <div>
                            <i class="fa fa-phone"></i> Free Line For You
                            <span>080 378678 90</span>
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i> Email Us
                            <span>sales@realspaces.com</span>
                        </div>
                        <div>
                            <i class="fa fa-clock-o"></i> Working Hours
                            <span>09:00 to 17:00</span>
                        </div>
                    </div>
                    <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navigation">
                        <ul class="sf-menu">
                            <li><a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Version 1</a></li>
                                    <li><a href="index1.html">Version 2</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="login.html">Register as Agent</a></li>
                            <li><a href="javascript:;">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="agents.html">Agents</a></li>
                                    <li><a href="agent-detail.html">Agent Single</a></li>
                                    <li><a href="my-properties.html">Agent Properties</a></li>
                                    <li><a href="submit.html">List a property</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="login.html">Register/Login</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Properties</a>
                                <ul class="dropdown">
                                    <li><a href="javascript:;">Listing</a>
                                        <ul>
                                            <li><a href="simple-listing.html">Simple Listing</a></li>
                                            <li><a href="listing-map.html">Simple Listing with map</a></li>
                                            <li><a href="simple-listing-fw.html">Full Width Listing</a></li>
                                            <li><a href="grid-listing.html">Grid Listing</a></li>
                                            <li><a href="grid-map.html">Grid Listing with map</a></li>
                                            <li><a href="grid-listing-fw.html">Full Width Grid</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:;">Types</a>
                                        <ul>
                                            <li><a href="property-type.html">Villa</a></li>
                                            <li><a href="property-type.html">Single Home</a></li>
                                            <li><a href="property-type.html">Cottage</a></li>
                                            <li><a href="property-type.html">Family House</a></li>
                                            <li><a href="property-type.html">Apartment</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:;">Contract type</a>
                                        <ul>
                                            <li><a href="contract-type.html">Sale</a></li>
                                            <li><a href="contract-type.html">Rent</a></li>
                                            <li><a href="contract-type.html">Sold</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="property-detail.html">Single Property</a></li>
                                    <li><a href="property-detail-fw.html">Single Property Full Width</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Features</a>
                                <ul class="dropdown">
                                    <li><a href="shortcodes.html">Shortcodes</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Gallery</a>
                                <ul class="dropdown">
                                    <li><a href="gallery-2cols.html">2 Columns</a></li>
                                    <li><a href="gallery-3cols.html">3 Columns</a></li>
                                    <li><a href="gallery-4cols.html">4 Columns</a></li>
                                    <li><a href="gallery-masonry.html">Masonry Grid</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-masonry.html">Masonry</a></li>
                                    <li><a href="blog-timeline.html">Timeline</a></li>
                                    <li><a href="blog-thumbnails.html">Classic</a></li>
                                    <li><a href="blog-post.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
